*{
    font-family: 'Roboto', sans-serif;
}

body

.white{
    color: white;
}

.clear_margin{
    margin: 0;
}

/* UPPER */

#upper{
    height: 9vh;
    width: 100%;
    background-color: red;
    padding: 10px;
}
























/* LOWER */

#lower{
    background-color: aqua;
    height: calc(100% - 9vh);
    width: 100%;
}




/* Side */

#side{
    background-color: rgba(13,37,58,255);
    width: 150px;
    height: calc(100% - 9vh);
    position: fixed;
    top: 9vh;
    left: 0;
}

.side_text{
    margin: 10px 0;

}

#side [class*="fa-solid"]{
    margin-right: 20px;
}



/************* Main Screen ************/

#main_screen{
    width: calc(100% - 150px);
    height: 100%;
    position: fixed;
    right: 0;
    top: 9vh;
}




/* header */

header{
    background-color: rgba(27,114,232,255);
    height: 125px;
}

#header_left_container{
    padding-left: 10px;
}

.rounded_header_p{
   padding: 3px 8px;
   font-size: 14px; 
   background-color: rgba( 0, 0, 0, 0.2);
   border-radius: 15px;
   margin: 0 4px;
}

h1{
    font-weight: 400;
}

#online_students_number{
    font-size: 30px;
}

#plus{
    margin: 0 30px 0 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: lighter;
}





















/* debug */
[class*="col-"]{
    background-color: blueviolet;
    border: 1px solid black;
    height: 50px;
}










